<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>qna</display-name>

	<servlet>
		<servlet-name>QuestController</servlet-name>
		<servlet-class>com.shanyuanjie.qna.web.QuestController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VoteController</servlet-name>
		<servlet-class>com.shanyuanjie.qna.web.VoteController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>com.shanyuanjie.qna.web.Update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CandidateShow</servlet-name>
		<servlet-class>com.shanyuanjie.qna.web.CandidateShow</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QuestController</servlet-name>
		<url-pattern>/QuestController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VoteController</servlet-name>
		<url-pattern>/VoteController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CandidateShow</servlet-name>
		<url-pattern>/CandidateShow</url-pattern>
	</servlet-mapping>

<!-- 	<filter>
		<filter-name>Filtercode</filter-name>
		<filter-class>com.shanyuanjie.qna.web.Filtercode</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filtercode</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->

</web-app>